body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    
    background-color: rgb(0, 225, 255);
    font-family: 'Poppins', sans-serif;
}
.box1 {
    height: 400px;
    width: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10em;
    border-radius: 10px;
    font-weight: 700;
    -webkit-text-stroke: 2px  rgb(0, 225, 255);
    color: transparent;
    transition: all 0.5s ease;
}
.box1:hover {
    transform: translate(-60px,-60px);
    color: rgb(0, 225, 255);
    box-shadow: 10px 10px 20px rgb(0, 0, 0,0.15),
    40px 40px 0px #fff,
    50px 50px 20px rgb(0, 0, 0,0.15),
    80px 80px 0 white,
    80px 80px 40px rgba(0, 0, 0, 0.15),
    120px 120px 0px rgb(0, 0, 0,0.1)
}